.features {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}

.features .heading {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  flex: 1;
  max-width: 600px;
}

.features .heading h1 {
  font-size: 1.75rem;
}

.features .heading a {
  font-size: 13px;
  color: #FF8A71;
}

.features .features-list {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.features-list .feature {
  gap: 1.5rem;
}

.features-list .feature .desc {
  max-width: 300px;
}

@media screen and (max-width: 1000px) {
  .features {
    flex-direction: column;
  }

  .features .features-list {
    gap: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .features .feature {
    flex-direction: column !important;
    gap: 1rem;
  }

  .features .heading h1 {
    font-size: 1.3rem;
  }
}
